@model SAS.Models.Faculity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div class="content-header" style="padding-left:250px; color:black;padding-bottom: 40px;padding-top: 10px;">
</div>

<div class="mainbody" style="padding-left:250px;">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Department_code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty_phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty_phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty_email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty_email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Faculity_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




    