@model IEnumerable<SAS.Models.Faculity>

@{
    ViewData["Title"] = "Index";
}

<div class="content-header" style="padding-left:250px; color:black;padding-bottom: 40px;padding-top: 10px;">
    <a asp-action="Create" asp-controller="Faculities" class="btn btn-primary" style="float:right;"> Add New  </a>
</div>

<div class="mainbody" style="padding-left:250px;">
    <table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty_email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty_email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Faculity_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Faculity_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Faculity_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>