@model IEnumerable<SAS.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}


<div class="content-header" style="padding-left:250px; color:black;padding-bottom: 40px;padding-top: 10px;">
    <a asp-action="Create" asp-controller="Attendances" class="btn btn-primary" style="float:right;"> Create New  </a>
</div>

<div class="mainbody" style="padding-left:250px;">
    <table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Academic_Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Academic_Year.Academic_yearName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Department_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculity.Faculty_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Attendance_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Attendance_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Attendance_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>